<ul class="list relative text-white py-6 space-y-4">
  <ng-container
    *ngIf="
      nodes
        | treeFilterBySearchText
          : isDescendentContainsSearchText
          : (searchText$ | async) ?? '' as filteredNodes
    "
  >
    <ng-container *ngFor="let node of filteredNodes; let i = index">
      <ng-container *ngIf="!node.children.length; else tree"
        ><li
          [innerHTML]="node.value | highlight : (searchText$ | async) ?? ''"
        ></li
      ></ng-container>
      <ng-template #tree>
        <li
          [innerHTML]="node.value | highlight : (searchText$ | async) ?? ''"
        ></li>
        <div
          style="margin-top: -10px"
          [ngClass]="{
            'child-list': i !== filteredNodes.length - 1
          }"
          class="child-list relative ps-7"
        >
          <app-tree
            [isDescendentContainsSearchText]="
              isDescendentContainsSearchText
                ? isDescendentContainsSearchText
                : node.isNodeContainsSearchText
            "
            [nodes]="node.children!"
          ></app-tree>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</ul>
