.list > li {
  position: relative;
  margin-right: 20px;
}

.list > li::before {
  position: absolute;
  width: 20px;
  height: 0;
  content: "";
  right: -1.25rem;
  border-bottom: dashed 0.5px #828A95;
  top: calc(0.5rem + 25%);
}

.list> li::after {
  position: absolute;
  width: 0;
  bottom: 50%;
  right: -1.25rem;
  height: 36px;

  content: "";
  border-left: 0.5px dashed #828A95;
}

.child-list::before {
  position: absolute;
  width: 0;
  top: 0;
  right: 0;
  height: 100%;
  content: "";
  border-left: 0.5px dashed #828A95;
}
